<h1>Hey <%= @user.name %>, </h1>

<p>
  Thanks for taking a minute to try out my app. Since you got this far. Do me a favor and click the link below to activate your account
</p>


<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

