<h1>Password Reset</h1>

<p>To reset your password please click the link below:</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours</p>

<p>If you did not request your password to be then do not click on the link. It's possible someone is trying to gain unauthorized access to your account. </p>
