To reset your password click on the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

If you did not request your password to be then do not click on the link. It's possible someone is trying to gain unauthorized access to your account. 

In any event this link will expire in 2 hours. 
