    <li>
        <%= gravatar_for user %>
        <%= link_to user.name, user %>
        <!--Author's code doesn't work. I am thinking this is better done in javascript anyway-->
        <!--< if current_user.admin? && !current_user? %>-->
        <% if current_user.admin? %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </li>